
<ul>
  <% @students.each do |number| %>
    <li>
      <img width="200" src="<%= number["image_url"] %>">
      <%= number["first_name"] %> 
      <%= number["last_name"]%>
    </li>
  <% end %>
</ul>


